.floating-chat-wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  z-index: 1001;
}

.floating-chat-tooltip {
  background-color: #E46424;
  color: #FFF3D5;
  font-family: 'Poppins';
  padding: 10px 15px;
  border-radius: 25px;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 700;
  opacity: 0;
  transform: translateX(10px);
  transition: opacity 0.3s, transform 0.3s;
  pointer-events: none;
}

.floating-chat-wrapper:hover .floating-chat-tooltip {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.floating-chat-button {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  box-shadow: 0 10px 14px rgba(0,0,0,0.2);
  position: relative;
  z-index: 1002;
}

.floating-chat-button img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* Fundo escurecido e blur */
.floating-chat-blur {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

/* Container do chat */
.floating-chat-opened {
  position: fixed;
  bottom: 20px;
  right: 50px;
  width: 400px;
  height: 520px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #FFF9EA;
  box-shadow: 0 4px 20px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  z-index: 1002;
}

/* Topo do chat */
.floating-chat-top {
  background-color: #E46424;
  color: white;
  font-family: 'Poppins';
  padding: 10px 25px;
  display: flex;
  align-items: center;
  position: relative;
}

.tico-avatar {
  width: 75px;
  height: 70px;
  margin-bottom: -20px;
  margin-right: 10px;
}



.top-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.2;
  height: 55px;
  margin-top: 15px;
}
.top-text h1 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
}
.top-text p {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  line-height: 1.2;
}




.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}
